@font-face {
    font-family: myFirstFont;
    src: url(/fonts/Game\ of\ Thrones.ttf);
}

body {
    background-image: url(/assets/site/mapblue.jpg);
    background-size: cover;
    font-family: myFirstFont;
}

.flex-container {
    display: flex;
    flex-flow: column wrap;
    height: 800px;
    justify-content: space-evenly;
    text-align: center;
    width: 65%;
  }

.item {
    cursor: pointer;
    font-size: 10px;
    height: 80px;
    justify-content: center;
    padding: 10px;
    text-align: center;
    width: 4%;
}

.item:hover {
  text-shadow: 2px 2px 4px #f00; 
}

.nav--search {
  background-color: #888888;
  height: 100%;
  display: flex;
  position: fixed;
  /* overflow-x: hidden; */
  /* z-index: 1; */
  top: 0;
  right: 0;
  width: 20%;
  }

.moreData{
  margin: 7px;
}

.search--input {
  bottom: 0;
  position: fixed;
}


@media all and (min-width: 600px) {
    .nav--search { flex: 1 0 0; }
  }

@media all and (min-width: 800px) {
    .flex-container { flex: 3 0px; }
    .nav--search { order: 1; }
}